{{- if .Values.prometheus.rules.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ template "syseleven-exporter.fullname" . }}
  namespace: "{{ .Values.prometheus.rules.namespace | default .Release.Namespace }}"
  labels:
    {{- include "syseleven-exporter.labels" . | nindent 4 }}
spec:
  groups:
  - name: SysElevenExporter
    rules:
    - alert: SysElevenComputeCores
      expr: sum((max(syseleven_compute_cores_used{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_compute_cores_total{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenComputeCores.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all Compute Cores in project {{ $labels.project }} in region {{ $labels.region }} are in use.'" }}
        summary: {{ "'High usage of Compute Cores in project {{ $labels.project }} detected.'" }}
    - alert: SysElevenComputeInstances
      expr: sum((max(syseleven_compute_instances_used{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_compute_instances_total{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenComputeInstances.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all Compute Instances in project {{ $labels.project }} in region {{ $labels.region }} are in use.'" }}
        summary: {{ "'Nearly all Compute Nodes in project {{ $labels.project }} are in use.'" }}
    - alert: SysElevenComputeRam
      expr: sum((max(syseleven_compute_ram_used_megabytes{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_compute_ram_total_megabytes{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenComputeRam.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all Compute Ram in project {{ $labels.project }} in region {{ $labels.region }} is in use.'" }}
        summary: {{ "'High memory consumption in project {{ $labels.project }}.'" }}
    - alert: SysElevenDnsZones
      expr: sum((max(syseleven_dns_zones_used{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_dns_zones_total{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenDnsZones.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all DNS Zones in project {{ $labels.project }} in region {{ $labels.region }} are in use.'" }}
        summary: {{ "'Nearly all DNS Zones in project {{ $labels.project }} are in use.'" }}
    - alert: SysElevenNetworkFloatingIps
      expr: sum((max(syseleven_network_floating_ips_used{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_network_floating_ips_total{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenNetworkFloatingIps.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all Network Floating IPs in project {{ $labels.project }} in region {{ $labels.region }} are in use.'" }}
        summary:  {{ "'Nearly all Network Floating IPs in project {{ $labels.project }} are in use.'" }}
    - alert: SysElevenNetworkLoadbalancers
      expr: sum((max(syseleven_network_loadbalancers_used{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_network_loadbalancers_total{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenNetworkLoadbalancers.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all Network Loadbalancers in project {{ $labels.project }} in region {{ $labels.region }} are in use.'" }}
        summary: {{ "'Nearly all Network Loadbalancers in project {{ $labels.project }} are in use.'" }}
    {{ if .Values.openstack.iam_org_id -}}
    - alert: SysElevenS3space
      expr: sum((max(syseleven_s3_space_used_bytes_ncs{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, s3username) / max(syseleven_s3_space_max_bytes_ncs{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, s3username)) * 100) by(project, s3username) > {{ .Values.prometheus.rules.SysElevenS3space.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all S3 Space in project {{ $labels.project }} of S3 user {{ $labels.s3username }} is in use.'" }}
        summary: {{ "'High S3 disk usage in project {{ $labels.project }} on S3 user {{ $labels.s3username }}.'" }}
    - alert: SysElevenS3objects
      expr: sum((max(syseleven_s3_num_objects_ncs{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, s3username) / max(syseleven_s3_max_objects_ncs{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, s3username)) * 100) by(project, s3username) > {{ .Values.prometheus.rules.SysElevenS3objects.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all S3 objects in project {{ $labels.project }} of S3 user {{ $labels.s3username }} are in use.'" }}
        summary: {{ "'High S3 object usage in project {{ $labels.project }} on S3 user {{ $labels.s3username }}.'" }}
    {{ else -}}
    - alert: SysElevenS3space
      expr: sum((max(syseleven_s3_space_used_bytes{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region, type) / max(syseleven_s3_space_total_bytes{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region, type)) * 100) by(region, project, type) > {{ .Values.prometheus.rules.SysElevenS3space.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all S3 Space in project {{ $labels.project }} from type { $labels.type }} in region {{ $labels.region }} is in use.'" }}
        summary: {{ "'High S3 disk usage in project {{ $labels.project }}.'" }}
    {{ end -}}
    - alert: SysElevenVolumeSpace
      expr: sum((max(syseleven_volume_space_used_gigabytes{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_volume_space_total_gigabytes{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenVolumeSpace.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all Volume Space in project {{ $labels.project }} in region {{ $labels.region }} is in use.'" }}
        summary: {{ "'High usage of Volume Space in project {{ $labels.project }}.'" }}
    - alert: SysElevenVolumeVolumes
      expr: sum((max(syseleven_volume_volumes_used{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region) / max(syseleven_volume_volumes_total{job="{{ template "syseleven-exporter.fullname" . }}"})by(__name__, project, region)) * 100) by(region, project) > {{ .Values.prometheus.rules.SysElevenVolumeVolumes.alertLimit }}
      for: 1m
      labels:
        severity: critical
      annotations:
        description: {{ "'{{ $value | humanize }}% of all Volumes in project {{ $labels.project }} in region {{ $labels.region }} are in use.'" }}
        summary: {{ "'High usage of all Volumes in project {{ $labels.project }}.'" }}
{{- end }}
